body{
	background-color: #E9EBEC;
}
header {
  position: center;
  width: 100%;
  padding-top: 200px;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.payment{
	position: center;
  width: 100%;
  padding-top: 200px;
  background-image: url("../images/nebo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.fa{
  font-size: 30px!important;
  text-decoration: none!important;
}
footer{
  width: 100%!important;
  text-align: center!important;
  padding: 0px!important;
}
.footer-last{
  padding-right: 0px!important;
  margin-right: 0px!important;
}